img {

    max-width: 427px;
    max-height: 374px;
}

input[type='file'] {

    color: rgba(0, 0, 0, 0)
}

#searched_movie{

    max-width: 219px;
    max-height: 269px;
}

.movie_list{

    min-width: 109px;
    min-height: 152px;
    max-height: 153px;
}

#search_section{

    max-width: 436px;
    max-height: 437px;
}

#recommended_section{

    max-height: 437px;
}

.listt{

    max-height: 270px;
}

#logo{

    animation-duration: 5s;
    animation-name: spinn;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinn {
    
    from{
        transform:  rotate3d(0, 0, 0, 0)
    }
    to{
        transform:  rotate3d(0, .75, .1, -360deg)
    }
}

.removeBtn{
    visibility: hidden;
}