
/* input[type='file'] {

    color: rgba(0, 0, 0, 0)
} */

/* .back{
    position: relative;
    z-index: -1;
    background-color: black;
} */













#componentDiv{

    width: 90%;
}

dialog{
    top: 35%;
}

li{
    list-style: none;
}

nav ul li{
    cursor: pointer;
}


#logo{

    animation-duration: 5s;
    animation-name: spinn;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinn {
    
    from{
        transform:  rotate3d(0, 0, 0, 0)
    }
    to{
        transform:  rotate3d(0, .75, .1, -360deg)
    }
}

#userInfoContainer{

    max-height: 352px;
}

#userFavoriteMovieDisplayed{

    max-height: 187px;
    max-width: 149px;
}

#profile_picDisplayed{

    min-height: 296px;
    max-height: 297px;
    min-width: 382px;
    max-width: 383px;

}

.friendListImg{
    min-height: 113px;
}

.friendClick{
    cursor: pointer;
}

#search_section{

    max-width: 436px;
    max-height: 480px;
    min-height: 479px;
}

#searchContainer{
    min-height: 379px;
    max-height: 380px;
}

#searched_movie{

    max-width: 219px;
    max-height: 270px;
    min-height: 269px;
}

#add_button{
    max-height: 31.5px;
}

#recSection{
    min-height: 569px;
}

.recImg {

    max-width: 153px;
    min-height: 194px;
    max-height: 195px;
}

.removeBtn{
    visibility: hidden;
}