dialog{


    top: 35%;

}

img {

    max-width: 427px;
    max-height: 374px;
}

#recList{
    min-height: 569px;
}

#searchContainer{
    min-height: 358px;
}

#add_button{

    max-height: 34px;
}

li{
    list-style: none;
}

#componentDiv{

    width: 90%;

}

/* $position-values: (
  0: 0,
  50: 50%,
  100: 100%
); */

/* input[type='file'] {

    color: rgba(0, 0, 0, 0)
} */

#searched_movie{

    max-width: 219px;
    max-height: 269px;
}

.movie_list{

    min-width: 109px;
    min-height: 152px;
    max-height: 153px;
}

#search_section{

    max-width: 436px;
    max-height: 437px;
}

#recommended_section{

    max-height: 437px;
}

.listt{

    max-height: 270px;
}

#logo{

    animation-duration: 5s;
    animation-name: spinn;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinn {
    
    from{
        transform:  rotate3d(0, 0, 0, 0)
    }
    to{
        transform:  rotate3d(0, .75, .1, -360deg)
    }
}

.removeBtn{
    visibility: hidden;
}

/* .back{
    position: relative;
    z-index: -1;
    background-color: black;
} */